html,body{font:normal 0.9em arial,helvetica,sans-serif;}
#show-wrapp {
	width: 100%;
	height:234px;
	border:1px solid #7F9DB9;
	border-bottom: none;
	overflow: auto;
	background-color: #E0E0E0;
	box-sizing: border-box;
}
#show-wrapp:before,
#show-wrapp:after {
	content: '';
	width: 0%;
	height: 100%;
	background-color: #090;
	vertical-align: bottom;
	display: inline-block;
}
#show {
	width: 100%;
	vertical-align: bottom;
	display: inline-block;
}
#show > div {
	background: #fff;
	padding: 2px;
	margin: 2px;
}
#msg {
	width: 100%;
	padding: 4px 2px 2px;
	border: 1px solid #7F9DB9;
	display: block;
	box-sizing: border-box;
}
section {
	max-width: 440px;
	margin: auto;
}

.user-nome,
.user-message {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 3px;
}
.user-nome {
	width: 60px;
	text-align: right;
}
.user-message {
	max-width: 360px;
	border-left: 1px dotted #7F9DB9;
}
