html,body{font:normal 0.9em arial,helvetica,sans-serif;height:100%;margin:0;}
.bloco {
	display: inline-block;
	vertical-align: top;
}
#clients,
#show-wrapp {
	height:100%;
	overflow: auto;
	background-color: #E0E0E0;
}
#clients {
	width:30%;
}
#show-wrapp {
	width:70%;
}
.alinhamento-vertical,
#show-wrapp:before {
	vertical-align: bottom;
	display: inline-block;
}
#show-wrapp:before,
#show-wrapp:after {
	content: '';
	width: 0%;
	height: 99.9999%;
}
.alinhamento-vertical {
	width: 100%;
}


#msg {
	width: 100%;
	display: inline-block;
	border-width: 1px 0px 0;
	border-color: #7F9DB9;
	border-style: solid;
	padding: 3px 0px;
	text-indent: 10px;
}
#recarregar {
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-radius: 0px;
	color: #FFF;
	background-color: #7F9DB9;
	padding: 3px 5px;
	border: 1px solid #7F9DB9;
	cursor: pointer;
}
#recarregar:hover {
	background-color: #31577B;
}
section {
	margin: auto;
	height: 100%;
}
#login:before,
#login:after {
	content: '';
	width: 0%;
	height: 100%;
	background-color: #090;
	vertical-align: middle;
	display: inline-block;
}
#login form {
	display: inline-block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.ln-0, .ln-1 {
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	background-color: #fff;
}
.user-nome {
	width: 120px;
	text-align: right;
	border-right: 2px solid #E0E0E0;
	padding-right: 2px;
	height: 100%;
}
.user-message {
	padding-left: 2px;
}
